* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  font-family: system-ui;
}
.container {
  background: #000;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
}
.logo {
  width: 40px;
}
ul li {
  display: inline-block;
}
ul li a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}
ul li a:hover {
  background: rgba(0, 162, 255, 0.568);
  padding: 5px 6px;
  transition: 0.5s;
}
.content {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
}
.content .text {
  width: 40%;
}
.content .text h2 {
  font-size: 40px;
  text-transform: uppercase;
}
.content .text p {
  font-size: 18px;
  margin: 20 0;
}
.content .text a {
  text-decoration: none;
  width: 10%;
  background: #fff;
  color: #000;
  padding: 8px 15px;
  border-radius: 20px;
}
.content .text a:hover {
  background: #444;
  transition: 0.5s;
  transform: scale(1.2);
}
.content .image {
  width: 30%;
}
.content .image img {
  width: 180px;
}
.icons {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.icons img {
  width: 70px;
  transition: 0.5s;
  cursor: pointer;
}
.icons img:hover {
  transform: scale(1.8);
}
.content .image img:hover {
  transition: 3s;
  transform: scale(0.9);
  cursor: pointer;
}
